 <header class="site-header">
     <div class="container"></div>
          <h3 class="site-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div> 
      </header>

<h1 class="navbar-label"> Menu </h1>
       <ul class="navbar">
           <li>Bio</li>
           <li><a href=resume.html>Resume</a></li>
           <li>Projects</li>
           <li>Contact me</li>
       </ul>
