  <ul class="navbar">
           <li><a href=bio.html>Bio</a></li>
           <li><a href=resume.html>Resume</a></li>
           <li><a href=projects.html>Projects</a></li>
           <li><a href=index.html>Home</a></li>
       </ul>

 <header class="site-header">
     <div class="container">
          <h3 class="site-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div> 
      </header>


      
