---

---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  h1 {
    color: black;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
  }

.navbar {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #554348
}

.navbar li {
    display: inline;
    list-style: none;
}

.navbar li a:hover {
    text-decoration: underline;
}
